<section class="section-display-rec">
<section class="section-rec-basics">
<div class="container">
  <div class="holder rec-basics-hldr">
    <div class="title-hldr">
      <div class="title-area">
      <% if @recipe.category %>
        <h1 class="main-title"><%= @recipe.title %></h1>
          <h2 class="sub-title"><%= @recipe.sub_title %></h2>
      </div>
    </div>
  <div class="rec-splash-img-holder">
    <%= image_tag(@recipe.image, alt:"No image", class: "rec-splash-img") %>
  </div>
  <div class="rec-description-hldr">
    <div class="rec-description-area">
      <div class="rec-descrip-section">
      <span>Category:</span>
      <span><%= @recipe.category.title%>
      <% else %></span>
      <p>no category</p>
      <% end %>
      <p>
      <span>Makes:</span>
      <span><%= @recipe.makes %></span>
      </p>
      <p>
      <span>Cooking Time:</span>
      <span><%= @recipe.cooking_time %></span>
      </p>
        <div class="rec-descrip-details-section">
          <p><%= @recipe.description %></p>
        </div>
      </div>
      <div class="rec-wine-section">
        <div class="wine-pair-title field-name">
        <p><%= image_tag("http://www.wineglassesandglassware.co.uk/images/riedel-vinum-shiraz-wine-glass.jpg", class: "wine-glass")%><%= Wine%></p>
        <p><%= Wine%></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>
<section class="section-rec-ing-and-meth container" id="ingredients">
  <div class="holder">
    <div class="rec-area-title">
      <h2 class="ingredients" >Ingredients</h2><h2 class="method" >Method</h2>
    </div>
    <div class="rec-area-content">
      <div class="ingredients-list-holder">
        <div class="ingredients-list">
        <% @recipe.quantities.each do |quantity| %>
        <%= quantity.amount %> <%= quantity.ingredient.title %>
        <% end %> 
        </div>
      </div>
      <div class="method-holder">
        <div class="method-list">
          <%= @recipe.method %>
        </div>
        
      </div>
    </div>
  </div>
</section>
<%= button_to('Edit Recipe', edit_recipe_path(@recipe), method: :get) %>
<%= button_to("Delete #{@recipe.title} ?", recipe_path(@recipe), method: :delete, data: {confirm: 'Delete recipe? Are you sure?!'}) %>
</section>